<div class="col"
     style="border: none; padding: 0; min-width: 30%;
         max-width: 30%;margin: 30px 0 0 0; cursor: pointer">
  <a href="{% url 'catalog' %}{{ item.id }}" style="text-decoration: none; color: #fff">
    <div class="card shadow-sm" style="border-radius: 10px;">
      <div class="card-body bg-dark text-white"
           style="border-radius: 10px;">
        <div style="height: 340px;margin-bottom: 20px; position: relative;">
          <img src="{{ item.get_image_url }}" alt="{{ item.get_image_url }}"
               style="position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; width: 100%;">
        </div>
        <h4 style="border-bottom: 1px solid #CCC; padding-bottom: 10px">{{ item.name }}</h4>
        <p class="card-text">{{ item.text|truncatewords:10 }}</p>
        <div class="d-flex justify-content-between align-items-center">

          <div>
            <button type="button"
                    class="btn btn-outline-danger">{{ item.category.name }}</button>

            <div style="margin-top: 10px; width: 342px">


              {% for item_tag in item.tags.all|slice:":3" %}
                <button type="button"
                        class="btn btn-outline-light">{{ item_tag.name }}</button>
              {% endfor %}

            </div>

          </div>


        </div>
      </div>
    </div>
  </a>
</div>