<header class="p-3 bg-dark text-white" style="border-radius: 10px 10px 0 0;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a href="/"
         class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img"
             aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="http://127.0.0.1:8000/" class="nav-link px-2 text-secondary">Главная</a></li>
        <li>
          <a href="http://127.0.0.1:8000/catalog/" class="nav-link px-2 text-white">Каталог</a>
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">FAQs</a>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/about/" class="nav-link px-2 text-white">О Нас</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark"
               placeholder="Введите текст..." aria-label="Search">
      </form>

      <div class="text-end">
        <a href="http://127.0.0.1:8000/auth/login" class="btn btn-outline-light me-2">Login</a>
        <a href="http://127.0.0.1:8000/auth/logout" class="btn btn-outline-light me-2">Logout</a>
        <a href="http://127.0.0.1:8000/auth/signup" class="btn btn-warning">Sign-up</a>
      </div>
    </div>
  </div>
</header>