{% extends "base.html" %}

{% block title %}Подробное описание товара {{ item.name }}{% endblock %}

{% block content %}
  <div style="display: flex; padding: 30px; justify-content: space-between">
    <div>
      <h4 style="padding-bottom: 10px">{{ item.name }}</h4>
      <p class="card-text">{{ item.text|truncatewords:10 }}</p>
      {% if rating %}
        <p class="rating">{{ rating }}</p>
      {% else %}
        <p class="rating">Оценки отсутсвуют</p>
      {% endif %}
    </div>

    <div style="display: flex">
      <div style="margin-right: 20px">
        <p style="margin: 0; height: 38px; line-height: 38px">Категория: </p>
        <p style="margin: 10px 0 0 0; height: 38px; line-height: 38px">
          Теги: </p>
      </div>
      <div>
        <div class="button-group">
          <button type="button"
                  class="btn btn-outline-danger">{{ item.category.name }}</button>
          <a href="http://127.0.0.1:8000/rate/add/{{ item.id }}"
             class="btn btn-outline-info">
            Rate
          </a>
        </div>
        <div class="button-group"
             style="margin-top: 10px; min-width: 206px; max-width: 600px">
          <div>

            {% for item_tag in item.tags.all %}
              <button type="button"
                      class="btn btn-outline-light">{{ item_tag.name }}</button>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>


  </div>
{% endblock %}
