{% extends "base.html" %}

{% block title %}Подробное описание товара {{ item.name }}{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/login.css" %}>
  <script type="text/javascript" src={% static "js/rate_item.js" %}></script>
{% endblock %}
{% block content %}
  <div style="display: flex; padding: 30px; justify-content: space-between; height: 400px; position: relative">

    <div style="display: flex; justify-content: space-between; width: 100%">

      <div style="margin: auto 0">
        <h4 style="padding-bottom: 10px">{{ item.name }}</h4>
        <p class="card-text">{{ item.text|safe }}</p>

        {% if rating %}
          <p class="rating">{{ rating.star__avg }}
            звезд/{{ rating.star__count }}
            оценок</p>
        {% else %}
          <p class="rating">Оценки отсутсвуют</p>
        {% endif %}

        <div>
          <div class="button-group">
            <button type="button"
                    class="btn btn-outline-danger">{{ item.category.name }}</button>
            {% if user.is_authenticated %}
              <button class="btn btn-outline-info" id="set_rate">Оценить</button>
            {% endif %}
          </div>
          <div class="button-group"
               style="margin-top: 10px; min-width: 206px; max-width: 600px">
            <div>

              {% for item_tag in item.tags.all|slice:3 %}
                <button type="button"
                        class="btn btn-outline-light">{{ item_tag.name }}</button>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

      <div style="margin: auto 0">
        <img src="{{ item.get_image_url }}" alt="{{ item.get_image_url }}" width="300px">
      </div>
    </div>

    <div class="form-wrapper bg-dark"
         style="right: 0; min-width: 290px; transition: 0.7s linear; position: absolute">

      <form style="padding: 20px;" method="post" id="rate_form">
        {% csrf_token %}

        <div style="display: flex">
          <h1 class="h3 mb-3 fw-normal">Add/Update Rate</h1>
          <button type="button" class="btn-close btn-close-white" id="close_button"
                  aria-label="Close" style="height: 34px; margin-left: 10px"></button>
        </div>
        <div class="form-floating ">
          {{ form.star }}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Update
        </button>
      </form>
    </div>

  </div>
{% endblock %}
